*.iml
.DS_Store
.checkstyle
.classpath
.fbExcludeFilterFile
.idea
.metadata
.pmd
.pmdruleset.xml
.project
.settings/
.vscode/
artifacts.jar
bin
dependency-reduced-pom.xml
deploy-keys.tar
derby.log
logs.zip
pom.xml.releaseBackup
release.properties
target/
thumbs.db
