{
  "presets": [["es2015", {"modules": false}], "stage-2"],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": 8 }}]
      ]
    }
  },
  "comments": false
}
