<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>
  <logger name="net.trajano.ms.engine.internal.resteasy" level="DEBUG"/>
  <logger name="net.trajano.ms" level="INFO"/>
  <!-- turn OFF all logging (children can override) -->
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
